.homeBackGround{
    background-image: url(../assets/Images/homePageHeader.png);
    height: 883px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}

header{
    background-image: url(../assets/Images/headerbackBack.png);
    height: 350px;
    width: 100%;
    background-position: center;
    
}
