.homeHero{
    background-image: url(../assets/Images/homePageHeader.png);
    height: 900px;
    width: 96%;
    background-position: center;
    background-size: cover;
    padding: 2%;
    margin: 0px;
    border: 0px;
}
a {
    text-decoration: none;
    color: dimgrey;
  }
#active {
    color: red;
}

.heroText {
    bottom: 0;
    position: absolute;
}

.homeHeading1 {
    
}

.item {
    padding-left: 20px;
    padding-right: 20px;
}

.navFlex{
    display: flex;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50px;
    opacity: 60%;
    justify-content: space-evenly;
}
.navFlex > div {
    font-size: 30px;
  }
.topNavBar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.classSearch {
    width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#search {
    margin-top: auto;
    margin-bottom: auto;
}

.navImg {
    width: 30%;
}
.navContainer{

}
.aSection{
    background-color: blueviolet;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
}
.bSection{
    padding-top: 2%;
    padding-bottom: 2%;
}
.header3 {
    text-align: center;
    color: aqua;
}
.header2 {
    text-align: center;
    color: #ffffff;
}
.tripContainer{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.tripFlex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.tripButton{
    text-align: center;
    background-color: red;
    color: #ffffff;
    font-size: 26px;
    display: inline-block;
    padding: 14px 40px;
    height: 60px;
    border-radius: 12px;
    border: red;
    
}

.buttonDiv{
    text-align: center;
    padding-top: 2%;
}

.footerFlex{
    display: flex;
    padding: 80px;
}

.socialFlex{
    display: flex;
    justify-content: space-between;
}

.socialImg{
    width: 60px;
    height: 60px;
}

.footContainer{
    display: flex;
}
.footLogo{
    width: 35%;
    height: 35%;
}
.shuttleFlex{
    display:flex;
    justify-content: left;
    
}
.shuttleInfoLeft{
    flex-grow: 1;
    padding: 8%;
    text-align: left;
}
.shuttleRight{
    flex-grow: 1;
    padding: 2%;
    text-align: left;

}

.alignLeft{
    text-align: left;
}
