.homeBackGround{
    background-image: url(../assets/Images/homePageHeader.png);
    height: 883px;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
